<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <h1>Crossword check</h1>
  <form id="searchform">
    Type in the word<br>
    <input type="text" name="word" value="<%= word %>">
    <br>
    <input type="submit" value="Check it!">
  </form>
  <div id="result">Result holder</div>
  <script>
    var result = <%= checkResult %>;
    if (result) {
      $("#result").text("<%= word %> is a legit word.");
    } else {
      $("#result").text("Are you talking Gibberish");
    }
  </script>
</body>

</html>
